@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px 1fr 50px;
    font-family: "Lora", serif;
}

header {
    background: #133C55;
    padding: 2rem;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

header h1 {
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
}

.hamburger {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid white;
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

nav ul li a:hover {
    background-color: #386FA4;
    color: white;
    border-color: white;
}

main {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cardBody {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.templeImage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
    width: 100%;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

figcaption {
    font-size: 1.2rem;
    margin-top: 8px;
    color: black;
}

.templeImage img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #133C55;
    color: white;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}